html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
.logotop{
    margin: auto;
    width: 980px;
    height: 55px;
    position: relative;
}
.logotop .logo{
    width: 240px;
    height: 55px;
}
.logotop .search{
    display: flex;
    position: absolute;
    top: 16px;
    left: 227px;
}
.logotop .search .timkiem {
    border: solid 1px;
    width:190px;
    height:22px;
    border-radius: 5px;
}
.logotop .search .button{
    background-color: red;
    font-family: arial;
    width:75px;
    height: 20px;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-size: 0.8em;
    padding-top: 6px;
    line-height: 18px;
}
.logotop span.button{

}

hr{
    width: 100%;
}
.logotop .menutopright {
    width:490px;
    height:55px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    left: 500px;
    top: 7px;

}
.logotop .menutopright a{
    text-decoration: none;
    font-family: tohoma;
    color: black;
    margin: auto;
    text-align: center;
    font-size: 12px;
    text-align: center;
    background-repeat: no-repeat;
    width:93px; height:22px; padding-top: 4px;
}
.logotop .menutopright a:hover{
    color: red;
}
.logotop .menutopright .icon1{
    background-image: url(icon1.jpg);
}
.logotop .menutopright .icon2{
    background-image: url(icon1.jpg);
}
.logotop .menutopright .icon3{
    background-image: url(icon1.jpg);
}
.logotop .menutopright .icon4{
    background-image: url(icon1.jpg);
}
.logotop .menutopright .icon5{
    background-image: url(icon1.jpg);
}
.logotop .menutopright .icon6{
    background-image: url(icon1.jpg);
}
.logotop .menutopright .icon7{
    background-image: url(icon1.jpg);
}
.logotop .menutopright .icon8{
    background-image: url(icon1.jpg);
}
.logotop .menutopright .icon9{
    background-image: url(icon1.jpg);
}
.logotop .menutopright .icon10{
    background-image: url(icon1.jpg);
}
.adtop{
    width: 1160px;
    height: 90px;
    margin: auto;
}
/* .adtop:hover{
    width: 1160px;
    height: 261px;
    margin: auto;
} */

.adtop a .img1{
    width: 980px;
    height: 90px;
    margin-left: 100px;
    opacity: 1;
}
/* .adtop:hover a .img1{
    width: 980px;
    height: 261px;
    margin-left: 100px;
    opacity: 0;
} */
/* .adtop a .img2{
    width: 980px;
    height: 261px;
    left: 203px;
    position: absolute;
    opacity:0;
    transition: 3s;
}
.adtop:hover a .img2{
    width: 980px;
    height: 261px;
    left: 203px;
    opacity: 1;
} */
.menutop{
    width: 1349px;
    height: 56px;
    background-image: url(bgmenutop.png);

}
.menutop .homelist{
    display: flex;
    width: 980px;
    height: 26px;
    margin-left: 190px;
}
.menutop .homelist li{
    padding-top: 5px;
    margin: 0px;
    list-style: none;  
}
.menutop .homelist li:hover{
    background-image: url(menu-hover-left.png)
}
.menutop .homelist li a{
    margin-left: 5px;margin-right: 5px;
    text-decoration: none;
    color: white;
    font-size: 11px;
    font-family: Tahoma;
}
.bt{
    color: red;
    border-radius: 5px;
    position: absolute;
    top:208px;
    left: 195px;
    border:1px solid gray;
    background-color: whitesmoke;
    text-decoration: none;
}
.menutop .minilist {
    display: flex;
    list-style: square;
    position: absolute;
    top:205px;
    left: 305px;
}
.menutop .minilist li {
    margin-left: 20px;

}
.menutop .minilist li a{
    color: #4f82ac;
    font-family: Arial;
    font-size: 12px;
    text-decoration: none;
}


.minilistright{
    margin-left: 1000px;
    position: absolute;
    top:206px;
}
.minilistright>a{
    color: #ffffff;
    font-size: 11px;
    background-color: orangered;
    font-family: Tahoma;
    margin-left: 15px;
    width: 58px;
    height: 20px;
    border: 1px solid gray;
    font-weight: 700;
    text-decoration: none;
}
.bodytop{
    width: 980px;
}
.bodytop .btleft{
    width: 620px;
    height: 644px;
    /* border: 0.5px solid gray; */
    margin-left: 192px;
    display: flex;
    justify-content: space-between;
}
.bodytop .btleft .left1{
    width: 348px;
    height: 534px;
    border-right: 1px solid gray;
}
.bodytop .btleft .left1 .h{
    color: #999;
    font-family: Tahoma;
    width: 268px;
    height: 20px;
    font-size: 11px;justify-content:
}
.bodytop .btleft .left1 img{
    width: 335px;
    height: 253px;
    border: 3px solid rgb(196, 196, 196);
}
.bodytop .btleft .left1 h2{
    font-size: 23px;
    color: rgb(36, 36, 214);
    margin: 0px;
}
.bodytop .btleft .left1 h2:hover{
    color: #4f82ac;
}
.bodytop .btleft .left1 .tin1{
    color: #333;
    font-size: 12px;
    font-family: arial;
    margin-top: 8px;
    line-height: 22px;
}
.bodytop .btleft .left1 ._1{
    text-decoration: none;
    line-height: 14px;
    color: #004175;
    font-size: 12px;
    font-family: arial;
    margin-top: 0px;

}
.bodytop .btleft .left2{
    width: 269px;
    height: 476px;
    /* border: 0.5px solid gray; */
}
.bodytop .left3{
    width: 620px;
    height: 110px;
    margin-left: 191.5px;
    margin-top: -110px;
    border-top: 2px solid rgb(199, 199, 199);
    display: flex;
}
.bodytop .left3 .khoi1{
    display: flex;
    padding-top: 8px; 
    padding-bottom: 8px;
    padding-left: 3px;
}
.bodytop .left3 .khoi1 img{
    width: 102px;
    height: 87;
    border: 3px solid rgb(187, 183, 183);
    /* margin-top: 0px;    margin-bottom: 2.5px;
    margin-left: 3px;    margin-right: 3px; */


}
.bodytop .left3 .khoi1 h3{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 3px;
}
.bodytop .left3 .khoi1 h3 a{
    font-family: Arial;
    text-decoration: none;
    font-size: 12px;
    color: #0a3558;
    display: inline-block;
    line-height: 18px;
}
.bodytop .left3 .khoi1 h3:hover a{
    color:#4f82ac;;
}

.bodytop .btright{
    width: 336px;
    height: 638px;
    position: absolute;
    margin-top:-647px;
    margin-left: 830px;
    border-left: 1.5px solid gray;
}
.bodytop .btright>img{
    border: 2px solid rgb(196, 192, 192);
    margin: 5px;
}
.bodytop .hr3{
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 19.5%;
}
.left2{}
.left2 .hotline{
    font-size: 11px;
    font-family:Tahoma;
    color: #d9d9d9;
}
.left2 .hotline>span{
    font-size: 11px;
    font-family:Tahoma;
    color: rgb(230, 16, 16);
}

.left2 .cap1{
    margin-top: 10px;
    background-color: rgba(204, 6, 6, 0.973);
    width: 266px;
    height: 23px;
    border-radius: 5px;

}
.left2 .cap1 a{
    width: 103px;
    height: 14px;
    color:  #fff;
    font-family: Arial;
    font-size: 12px;
    text-decoration: none;
    margin-left: 30px;
    padding-top:5px;
    text-transform: uppercase;
    display: inline-block;
}
.left2 .listtinbdl2{
    /* border-left: 2px solid gray; */

}
.left2 .listtinbdl2>li{
    width: 258px;height: 42px;
    list-style: none;
    list-style-position: outside;

}
.left2 .listtinbdl2>li>a{
    font-family: Arial;
    font-size:12px;
    color: #082680;
    text-decoration: none;
    line-height: 18px;
    margin-top: 5px;

}
.left2 .listtinbdl2>li:hover>a{
    text-decoration: underline;
    color: #4169e1;
}
.left2{}
.bodybb1 {
    width: 470px;
    height: 216px;
    margin-left:192px;
    position: relative;
    /* border: 1px solid gray; */
}
.bodybb1 .mnt {
    width: 470px;
    height: 25px;
    background-image: url(bg.jpg);
    background-position-x: 0px;
    background-position-y: -48px;
    background-repeat: no-repeat;
    justify-content: space-between; 
}
.bodybb1 .mnt .c{
    width: 67px;
    height: 20px;
    background-image: url(bg.jpg);
    background-position-x:-389px;
    background-position-y: -28px;
    background-repeat: no-repeat;
    text-transform: uppercase;
    color: #fff;
}
.bodybb1 .mnt a{
    padding-top: 0px;
    padding-right: 6px;
    padding-bottom: 0px;
    padding-left: 6px;
    text-decoration: none;
    font-weight: 500;
    font-family: Arial;
    font-size: 11px;
    line-height: 16px;
    color: #333;
    float: left;
    height: 20px;
}
.bodybb1 .news1{
    width: 470px;
    height: 106px;
    /* border: 1px solid gray; */
}
.bodybb1 .news1 img{
    width: 130px;
    padding: 2px;
    float: left;
    margin-right: 5px;
    border: #D8D8D8 1px solid;
}
.bodybb1 .news1 h4 {
    width: 325px;
    height:40px;
    margin-top: 0px;
    margin-left: 138px;
    margin-bottom: 0px;
}
.bodybb1 .news1 h4 .ct:hover{
    color: #4f82ac;
}
.bodybb1 .news1 h4 .ct{
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    font-family: "Times New Roman",Times,serif;
    color: #09375e;;
}
.bodybb1 .news1 .nd{
    margin-left: 138px;
    width: 325px;
    height:60px;
    font-family: Arial;
    color: #000;
    margin-bottom: 0;
    line-height: normal;
    font-size: 12px;
    font-weight: 500;
}
.bodybb1 .news1 .xticon{
    width: 51px;
    height:15px;
    background-image: url(bg.jpg);
    background-position-x:100%;
    background-position-y: 0px;
    color: #999;
    font-weight: 500;
    font-size: 11px;
    line-height: 15px;
    font-family: Arial;
    text-decoration: none;
    margin-right: 0px;
    position: absolute;
    top: 117px;
    left: 406px;
}
.bodybb1 .mnbt{}
.bodybb1 .mnbt .mnbt1{
    width:470px;
    height:45px;
}
.bodybb1 .mnbt .mnbt1>li{
    padding-left: 10px;
    margin-left: 5px;
    background-repeat: no-repeat;
    background-image: url(bg.jpg);
    background-position-x:-448px;
    background-position-y: 2px;
    list-style: none;
    padding-left: 10px;
    margin-left: 5px;
}
.bodybb1 .mnbt .mnbt1>li>a{
    font-weight: 500;
    font-size: 12px;
    font-family: Arial;
    color: rgb(0, 65, 117);
    text-decoration: none;
}
.bodybb1 .mnbt .mnbt1>li>a:hover{
    color:  rgb(82, 147, 201);
}
.kengan{
    width: 470px;
}
.quangcao {
    width: 510px;
    height: 3024px;
    border-left: 1px solid gray;
    margin-left: 669px;
    margin-top: -3034px;
    display: flex;
}
.quangcao .quangcao1{
    width: 58%;
    /* float: left; */
}
.quangcao .quangcao1 .img21{
    margin: 10px;

}
.quangcao .quangcao2{
    /* float: right; */
}

.bottom{
    width: 1000px;
    height: 225.5px;
    margin-left: 188px;
    /* border: 1px solid gray; */
    overflow: hidden;
}
.bottom .tc{
    margin-left: 650px;
}
.bottom .tc .ai{
    text-decoration: none;
    color: #004175;
    font-size: 12px;
    font-family: Arial;
    font-weight: 500;
    margin-left: 5px;
    padding-right: 5px;
    /* border-right: 1px solid #004175; */
}
.bottom .tc .ui {
    text-decoration: none;
    color: #004175;
    font-size: 12px;
    font-family: Arial;
    font-weight: 500;
    margin-left: 5px;
}
.bottom  .mnbt {
    display: flex;
    width: 1050px;
    list-style: none;
    margin-left: 0px;
    border-top: 1px dotted #004175;
    padding-top: 6px;

}
.bottom  .mnbt .ki{
    text-decoration: none;
    color: #004175;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    font-family: Arial;
    text-align: center;
    margin-left: 0px;
    border-right-width: 2px;
    padding-right: 3px;
    padding-left: 3px;

    display: block;
}
.bottom  .mnbt .si{
    text-decoration: none;
    color: #004175;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    font-family: Arial;
    text-align: center;
    margin-left: 0px;
    border-right-width: 2px;
    padding-right: 3px;
    padding-left: 3px;

}


.bottom .copyright{

    background-image: url(bluebg2.png);
    position: absolute;


}
.bottom .copyright .cprl{
    width: 70%;
    height: 146.36px;
    padding-left: 5px;
    font-family: Arial;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    float: left;
}
.bottom .copyright .cprl >p{
    margin-top: 8px;
    margin-bottom: 0px;
}
.bottom .copyright .cprl >i{}
.bottom .copyright .cprl >span{}
.bottom .copyright .cprl >span>a{
    text-decoration: none;
    color: #333;
    padding-top:0px;}
.bottom .copyright .cprr>p{
    margin-top:0px;
    margin-bottom:0px;
}
.bottom .copyright .cprr{
    width: 29%;
    float: right;
}
.bottom .copyright .cprr>p>a{
    color: #333;
    font-family: Arial;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
}
.bottom .copyright{}




